- let lista = ["Posts", "About", "Friends  458", "Photos", "Videos", "Check-Ins", "More"]
- let logo = ["img/logo/home.png","img/logo/watch.png","img/logo/group.png","img/logo/game.png"]


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FB
        link(rel="stylesheet", href="styles.css")
    body 
        header 
            .container-nav 
                .navegation 
                    .logo-barra 
                        img(src="img/fb.png")
                        .logo-barra__search 
                            i
                            input(type="search" placeholder="Search Facebook")
                    .adrress 
                        for logos in logo
                            a(href="#") 
                                img(src= logos)
                    .perfil 
                        


            .container-portada 
                .container-portada-perfil 
                    img(src="")
                    h1
        section.listas 
            .container-general 
                ul
                    for list in lista 
                        li 
                            a(href="#")= list
